@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

body{
    background-color: lightblue;
    padding-top: 100px;
}
#brand-name{
    font-family: 'WindSong', cursive;
}

img{
    height: 350px;
}